/* .App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */
 .App {
   font-family: Arial, sans-serif;
   background-color: #121212;
   color: white;
   min-height: 100vh;
   padding: 20px;
 }